.evolution-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(240, 238, 238, 0.8);
    margin: 1em;
}

.evolution-image {
    height: 100px;
    width: 100px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}