.pokemon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
}

.pokemon-image {
    height: 200px;
    width: 200px;
}

.pokemon-content {
    display: flex;
    justify-content: center;
    max-width: 400px;
}